
    body{
	background-color: #ebd469;
    padding: 0;
    margin: 0;
    }
    .nav{
        position: fixed;
        height: 70px;
        width: 100%;
        top: 1em;
        left: 0;
        background: #545454;
        z-index: 1;	
    }
    .nav .icon{
        width: auto;
        height: 115px;
        padding: 0 100px 10px;
        margin-top: 0;
        
    }

    .nav ul{
        float: right;
        margin-right: 6em;
        margin-top: 10px;
    }
    .nav ul li{
        list-style: none;
        margin: 0 8px;
        display: inline-block;
    }
    .nav ul li a{
        font-size: 20px;
        font-family: serif;
        color: white;
        padding: 19px 16px 10px;
        text-decoration: none;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .dh a:hover:not(.active) {
        background-color: #ac663e;
    }
        
    #active {
        background-color: #ac663e;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
        background-color: #545454;
    }
    .dropbtn {
        display: inline-block;
        color: black;
        padding: 5px 16px;
        text-decoration: none;
    }
    
    li a:hover, .dropdown:hover .dropbtn {
        background-color: #ac663e;
    }
    
    li.dropdown {
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #545454;
        min-width: 160px;
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;

    }
    
    .dropdown-content a:hover {
        background-color: #ac663e;
        color:  black;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
        color: black;
    }

    .foot{
        background-color: #ab9685;
        padding: 1em;
        font-size: 18px;
        color: black;
        text-align: center;
    }
    .foot ul li{
        list-style: none;
        text-align: center;
        line-height: 1.6;
        display: inline-block;
        margin: 8px  10px;
    }
    .foot a{
        text-decoration: underline;
        color: black;
    }
    .foot a:hover{
        color: #f2fcff;
        background-color: #ab9685;
    }
    .foot p{
        margin-left: 2em;
        text-align: center;
        color: #f2fcff;
    }
    .foot img{
        margin-left: 1.5em;
        height: 70px;
        width: auto;
    }

    .reference{
        margin-left: 5%;
        font-size: 18px;
        width: 60%;
        font-family: Georgia, 'Times New Roman', serif ;
    }
    .reference li{
        padding: 8px;
        line-height: 1.5;
    }
    .reference a{
        color: black;
    }
    .reference a:hover{
        background-color: #ebd469;
        color: #ac663e;
    }
    .middle, .hide{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        background-color: #c9b65b;
        padding: 30px 50px;
    }
    .middle h1, h2{
        text-align: center;
    }
    .middle h1{
        font-family: 'Staatliches' ,Verdana, Tahoma, sans-serif;
        font-size: 5em;
        padding: 10px;
        letter-spacing: 10px;
    }
    .middle h2{
        font-family: 'Poppins', Tahoma, Verdana, sans-serif;
        font-size: 1.5em;
    }
    .middle h3{
        font-family: 'Poppins', Tahoma, Verdana, sans-serif;
        font-size: 1.25em;
    }
    .middle p{
        font-family: Montserrat  ,Georgia, 'Times New Roman', serif ;
        font-size: 17px;
        margin-left: 7%;
    }
    input[type=radio]{
        padding: 10px;
        margin-left: 2%;
    }
    input[type=button]{
        font-family: Montserrat  ,Georgia, 'Times New Roman', serif ;
        font-size: 17px;
        padding: 10px 50px;
        background-color: #444443;
        color: #f2fcff;
        border-radius: 25px;
        text-align: center;
        margin-left: 36%;
    }
    input[type=button]:hover{
        background-color: #ac663e;
    }
    #result{
       font-size: 5em;
       text-align: center;
   }
   #output{
       font-size: 3em;
       text-align: center;
   }
   #explore{
       font-size: 1em;
       text-align: center;
       border-radius: 25px;
       text-decoration: none;
       color: #f2fcff;
       padding: 10px 50px;
   }
   #explore:hover{
    background-color: #ac663e;  
   }
